Repository GlobalMaksimum/sadedegel, pull requests merged in 2021-04, with the labels that each got.

#240 Add movie and telco sentiment desc to dataset/README.md
  sadedegel/dataset/README.md
Labels: pending, question

#253 Update telco_sentiment prebuilt model with new accuracy.
  sadedegel/prebuilt/README.md
  sadedegel/prebuilt/model/telco_sentiment_classification.joblib
  sadedegel/prebuilt/telco_sentiment.py
Labels: enhancement, prebuilt

#254 Implement Hotel Sentiment Dataset [resolves #249]
  sadedegel/dataset/README.md
  sadedegel/dataset/hotel_sentiment/__init__.py
  sadedegel/dataset/hotel_sentiment/__main__.py
  sadedegel/dataset/hotel_sentiment/_core.py
  tests/datasets/context.py
  tests/datasets/test_hotel_sentiment.py
Labels: dataset, documentation

#255 Implement Categorized Product Sentiment Dataset [resolves #250]
  sadedegel/dataset/README.md
  sadedegel/dataset/categorized_product_sentiment/__init__.py
  sadedegel/dataset/categorized_product_sentiment/__main__.py
  sadedegel/dataset/categorized_product_sentiment/_core.py
  tests/datasets/context.py
  tests/datasets/test_categorized_product_sentiment.py
Labels: dataset, documentation, pending, question

#242 Implement Pre-Built Customer Reviews Classifier Model [resolves #232]
  sadedegel/prebuilt/README.md
  sadedegel/prebuilt/customer_reviews_classification.py
  sadedegel/prebuilt/model/customer_review_classification.joblib
  tests/prebuilt/context.py
  tests/prebuilt/test_customer_reviews.py
Labels: pending, prebuilt, ready

#263 Implement Prefix Range as Hyperparam of HashVectorizer [resolves #262]
  sadedegel/extension/sklearn.py
  tests/extension/context.py
  tests/extension/test_hashv.py
Labels: enhancement
