Repository GlobalMaksimum/sadedegel, pull requests merged in 2021-03, with the labels that each got.

#223 Implement Telco Sentiment Dataset
  sadedegel/dataset/telco_sentiment/__init__.py
  sadedegel/dataset/telco_sentiment/__main__.py
  sadedegel/dataset/telco_sentiment/_core.py
  tests/datasets/context.py
  tests/datasets/test_telco_sentiment_corpus.py
Labels: dataset, prebuilt

#231 Implement movie sentiment dataset.
  sadedegel/dataset/movie_sentiment/__init__.py
  sadedegel/dataset/movie_sentiment/__main__.py
  sadedegel/dataset/movie_sentiment/_core.py
  tests/datasets/context.py
  tests/datasets/test_movie_sentiment.py
Labels: dataset

#230 Implement Pre-Built Movie Review Sentiment Classifier [resolves #218]
  sadedegel/prebuilt/README.md
  sadedegel/prebuilt/model/movie_sentiment.joblib
  sadedegel/prebuilt/movie_reviews.py
  tests/prebuilt/context.py
  tests/prebuilt/test_movie_reviews.py
Labels: help wanted, prebuilt
